

:root {
    --clr-primary: #7098FF;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.icon-small {
    width: 2em;
}

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    //position: relative;
}

a {
    display: block;
}

img {
    display: block;
}