

@use "../util" as u;

:root {
    --clr-primary: #7098FF;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.icon-small {
    width: 2em;
}

html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    height: auto;
    overflow-y: hidden;
}

a {
    display: block;
}

img {
    display: block;
}

#root {
    position: relative;
    height: 100%;
    min-height: 100vh;
    height: 100%;
}