

@use "../util" as u;

// Nav

.top-nav {
    $main: &;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: u.em(16);
    margin-block: u.em(30);
    position: relative;

    .important-div {
        @include u.breakpoint-down(nav) {
            display: none;
        }
    }

    &__btn {
        font-size: u.rem(32) !important;

        @include u.breakpoint-up(nav) {
            display: none !important;
        }
    }

    &__link-container {
        display: flex;
        position: absolute;
        right: u.em(10);
        font-size: u.rem(20);
        gap: u.em(20);

        a {
            font-weight: 600;
        }

        @include u.breakpoint-down(nav) {
            display: none;
        }
    }
}

// Hero Code

.hero {
    &__subhero {
        display: flex;
        justify-content: flex-start;
        margin-bottom: u.em(100);
        gap: u.em(60);
        width: auto;
        padding-inline: u.em(30) u.em(200);

        & > p {
            max-width: u.em(400);
        }

        @include u.breakpoint-up(medium) {
            flex-direction: column;
            padding-inline: u.em(30);

            p {
                width: auto;
            }

            margin-bottom: u.em(50);
        }

        @include u.breakpoint-up(large) {
            flex-direction: row;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: u.em(120);
        background-position-x: center;
        background-size: cover;
        padding-block: u.em(20);
        margin-bottom: u.em(80);
        height: auto;
        background-image: url("/images/world-image.webp");

        @include u.breakpoint-up(medium) {
            gap: u.em(20);
            align-items: flex-start;
            padding-left: u.em(20);
        }

        &__main-text {
            $text: &;

            font-weight: 600;
            color: white !important;
            width: fit-content;
            height: fit-content;

            @include u.breakpoint-up(medium) {
                font-size: u.rem(22) !important;
            }

            &--title {
                @extend #{$text};

                font-size: u.rem(25);

                @include u.breakpoint-up(medium) {
                    font-size: u.rem(30) !important;
                }
            }
        }
    }

    &__text-item {
        @include u.breakpoint-up(medium) {
            &--one {
                margin-block: u.em(150) u.em(20);
                width: min(80%, u.em(400));
                color: white; 
                font-weight: 600;
                font-size: u.rem(20);
            }
    
            &--two {
                font-size: u.rem(22);
                font-weight: 600;
                width: 40%;
            }
        }
    }

    &__text {
        font-size: u.rem(16);
    }

    &__benefit-container {
        display: grid;
        margin-inline: auto;
        grid-template-areas: 
            "one"
            "two"
            "three";

        @include u.breakpoint-up(medium) {
            gap: u.em(100);
            grid-template-areas: "one two three"
        }

        @include u.breakpoint-up(large) {
            width: 30%;
        }

        &__benefit {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: u.em(20);
            
            svg {
                width: u.em(70);
                height: u.em(70);
                margin-bottom: u.em(20);
            }

            p {
                font-weight: 600;
                font-size: u.rem(20);
            }
        }
    }
}

// Plans Code

%plan-breakpoint {
    @include u.breakpoint-up(medium) {
        max-width: u.em(250);
    }
}

.plans {
    display: grid;
    margin-inline: auto;
    gap: u.em(60);
    grid-template-rows: repeat(3, 1fr);
    width: min(60%, 250px);
    margin-bottom: u.em(100);

    @include u.breakpoint-up(plans) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0;
        width: 100%;
        margin-inline: auto;
        justify-items: center;
    }

    &__plan {
        $plan: &;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: u.em(20);
        padding: u.em(25);
        max-width: 250px;
        
        &--one { @extend #{$plan}; @extend %plan-breakpoint; margin-left: auto; }
        &--two { @extend #{$plan}; @extend %plan-breakpoint; }
        &--three { @extend #{$plan}; @extend %plan-breakpoint; margin-right: auto; }

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: u.em(15);
            justify-content: space-between;
        }

        &__button {
            font-weight: 600;
        }

        &__title {
            text-align: center;
            font-weight: 600;
            font-size: u.rem(20);
        }

        &__price {
            font-size: u.rem(20);
        }
    }
}

.general-text {
    display: flex;
    padding-inline: u.em(200);
    gap: u.em(50);
    margin-bottom: u.em(100);
    max-width: u.em(1200);
    margin-inline: auto;
    
    p {
        font-size: u.rem(20);
    }

    @include u.breakpoint-up(medium) {
        padding-inline: u.em(50);
        flex-direction: column;
    }

    @include u.breakpoint-up(large) {
        padding-inline: u.em(50);
        flex-direction: row;
    }
}

// Reviews Code

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: u.em(40);
    margin-bottom: u.em(50);
    padding-inline: u.em(20);
    max-width: u.em(1500);
    margin-inline: auto;
    justify-items: center;

    &__title {
        text-align: center;
        margin-bottom: u.em(15);
    }

    &__review {
        width: 100%;
        padding: u.em(20);
        gap: u.em(10);
        display: flex;
        flex-direction: column;
        max-width: 450px;
        height: 300px;
        flex: 0 0 auto;

        &__title {
            font-weight: 600;
            font-size: u.rem(20);
            word-wrap: break-word;
            margin-bottom: u.em(10);
        }

        p {
            width: 100% !important;
            white-space: normal !important;
            word-wrap: break-word;
        }

        &__star-container {
            svg {
                color: var(--clr-primary);
            }
        }

        &__head {
            height: 90%;
        }
    }
}

// Navigation Code

.navigation-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 100vh;
    height: 300vh;
    background-color: rgba(0, 0, 0);
    opacity: 0.9;
    width: 0;
    padding: 0;
    transition: all 500ms, padding 500ms;
    transition-timing-function: ease-out;
    z-index: 2;
    padding: 0;
    padding-top: u.em(20);

    a {
        color: white;
        font-weight: 600;
        text-align: center;
        font-size: u.rem(25);
        margin-bottom: u.em(10);
    }

    svg {
        color: white;
    }

    article {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: u.em(20);
        font-size: u.rem(30);
    }

    h2 {
        margin-bottom: u.em(10);
    }
}

.navigation-sidebar.open {
    padding: u.em(20);
    width: min(80%, u.em(350));
}

// Footer Code

.footer {
    $gap: 15;

    background-color: var(--clr-primary);
    display: grid;
    gap: u.em($gap);
    padding: u.em(10);
    grid-template-areas: 
        "footer-one"
        "footer-two"
        "footer-three"
        "footer-four";

    @include u.breakpoint-up(footer) {
        padding: u.em(30) u.em(40);
        grid-row-gap: u.em(50);
        grid-column-gap: u.em(20);
        grid-template-columns: auto 9fr;
        padding-bottom: u.em(20);
        grid-template-areas: 
            "footer-one footer-two "
            "footer-three footer-four";

        h2 { text-align: left !important; width: fit-content;}
    }

    &__social-container {
        img {
            width: u.em(50);
            height: u.em(50);
        }
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: u.em($gap);

        @include u.breakpoint-up(footer) {
            flex-direction: row !important;
        }
    }

    p, h2, a {
        color: #fff;
        text-align: center;
        white-space: nowrap;
    }
}

.more-reviews-link {
    margin-bottom: u.em(50);
    margin-inline: auto;
    width: fit-content;
    text-align: center;
}

%message {
    font-weight: 700;
    font-size: u.rem(32);
    margin-left: u.em(20);
    margin-top: u.em(30);
}

.not-found {
    h2 {
        @extend %message;
    }
}

.no-reviews {
    @extend %message;
    margin-top: u.em(-20);
}

.review-page-wrapper {
    min-height: 80vh;
}

.review-page {
    margin-top: u.em(80);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: u.em(40);
    margin-bottom: u.em(50);
    padding-inline: u.em(20);
    max-width: u.em(1800);
    margin-inline: auto;
    justify-items: center;

    .btn {
        margin-inline: 0;
        margin-top: u.em(20);
        margin-left: u.em(30);
        margin-right: auto;
    }
}

.new-review {
    background-color: black;
    padding: u.em(10) u.em(20) u.em(30);
    margin: u.em(20);
    margin-top: u.em(50);
    border-radius: u.em(10);
    padding-block: auto;
    max-width: u.em(800);

    input, .text-field {
        outline: none;
        font-size: u.em(22);
        padding: u.em(5) u.em(10);
        border-radius: u.em(7);
        margin-bottom: u.em(5);
        border: none;
        background-color: white;
    }

    .input-wrapper {
        margin-bottom: u.em(20);
    }

    textarea {
        font-size: u.em(16);
    }

    .text-field {
        resize: none;
        height: u.em(200);
    }

    .text-field-wrapper {
        margin-bottom: u.em(20);
    }

    &__star-container {
        svg {
            font-size: u.em(40);
        }

        margin-bottom: u.em(20);
    }

    &__title {
        color: white;
        font-size: u.em(24);
        font-weight: 700;
        margin-bottom: u.em(10);
    }

    .btn {
        width: fit-content;
    }
}

.new-review-wrapper {
    min-height: 70vh;
}